# all virtaul envs of python
*venv*/

# service file of ide
.idea/

*/.ipynb_checkpoints/
dist
__pychache__/
*__pychache__*

# all jupyter notebook
*.ipynb

/tests/semantic/preprocessing/data/ruwiki_20180420_300d.pkl
/examples/data/work_names.csv
*.pyc
/__pycache__/
