# all virtaul envs of python
*venv*/

# service file of ide
.idea/
__pychache__/
*__pychache__*
*/.ipynb_checkpoints/

# all jupyter notebook
*.ipynb

poetry.lock
/tests/semantic/preprocessing/data/ruwiki_20180420_300d.pkl
/examples/data/work_names.csv
